@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Raleway';

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #4B4A4B;
    background-color: #FFDAC4;
    background: url(http://www.pixeden.com/media/k2/galleries/131/002-subtle-light-pattern-background-texture.jpg);
}

.header {
    display: flex;
    justify-content: space-between; /* Espacio entre el texto y el botón */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 20px; /* Separación inferior */
}

h1 {
    font-size: 2em; /* Tamaño del encabezado */
    font-weight: 300;
    color: #030303;
    margin: 0; /* Sin margen */
}

#add-client-btn {
    padding: 10px 15px; /* Ajustar el padding del botón */
    background-color: #0056b3; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
}

#add-client-btn:hover {
    background-color: #004494; /* Color de fondo al pasar el ratón */
}

.listado {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 20px auto; /* Ajustar margen superior */
    display: table;
    padding: 0;
}

.listado th, .listado td {
    padding: 10px; /* Ajustar padding */
    font-size: 0.9em; /* Tamaño de texto reducido */
}

.listado th {
    background-color: #0056b3; /* Color de fondo de los encabezados */
    color: #FFFFFF; /* Color del texto de los encabezados */
}

.listado tr:nth-child(odd) {
    background-color: #f2f2f2; /* Color de fondo para filas impares */
}

.listado tr:nth-child(even) {
    background-color: #ffffff; /* Color de fondo para filas pares */
}

.listado tr:hover {
    background-color: #d1e7dd; /* Color al pasar el ratón sobre la fila */
}

.listado td.icono:hover {
    background-color: #dc3545; /* Color al pasar el ratón sobre los íconos */
}

/* Estilos de modal */
#add-client-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Podrías ajustar el ancho aquí */
}
