html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    position: relative;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7); /* Fondo más oscuro para contraste */
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
    margin-bottom: 30px;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff; /* Color del texto en los campos */
    border: none;
    border-bottom: 1px solid #03e9f4; /* Color del borde inferior */
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: -20px; /* Fija la etiqueta arriba */
    left: 0;
    font-size: 12px; /* Tamaño más pequeño */
    color: #03e9f4; /* Color de la etiqueta */
    pointer-events: none;
    transition: 0.5s;
}

.login-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.login-button:hover {
    color: #fff;
    border: 1px solid #03e9f4;
}
